<button type="button" (click)="blink()">Click Me</button>

<button type="button" [disabled]="isDisabled" (click)="slashYou()">
  Click You
</button>
<div class="a">
  <p>
    {{ message }}
  </p>
</div>

<app-cart></app-cart>
